.Section {
  width: 265px;
  padding: 0 24px;
}

.Section-Title {
  font-weight: normal;
  font-size: 26px;
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}

.Block {
  border-bottom: 1px solid #E5E5E5;
  padding: 20px 0;
}

.Block-Title {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.Block-Option {
  font-family: sans-serif;
  font-size: 13px;
  display: block;
  margin: 4px 0;
}

.Block-Color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  margin: 5px;
}

[data-color="white"],
[data-color="silver"] {
  border: 1px solid #CCC;
}

[data-color="silver"] {
  background-color: #E5E5E5;
}

[data-color="yellow"] {
  background-color: #FED533;
}

[data-color="gold"] {
  background-color: #DAAF00;
}

[data-color="orange"] {
  background-color: #F36B26;
}

[data-color="green"] {
  background-color: #7BBA3C;
}

[data-color="blue"] {
  background-color: #1790C8;
}

[data-color="pink"] {
  background-color: #D82A90;
}

[data-color="olive"] {
  background-color: #7F7F00;
}

[data-color="red"] {
  background-color: #E7352B;
}

[data-color="purple"] {
  background-color: #8D429F;
}

[data-color="grey"] {
  background-color: #777878;
}

.Block-Size {
  width: 42px;
  height: 42px;
  border: 0;
  outline: 1px solid #E5E5E5;
}

.Block-Size:hover {
  cursor: pointer;
  background-color: #111;
  color: white;
}
